.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formCard{
  background-color: lightgray;
  border-radius: 5px;
  width: 50%;

}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;


}

input {
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
}

select{
  width: 200px;
  display: flex;
  align-items: flex-start;
}

.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: darkred;
  transition: 0.3s all;
  display: flex;
  
}

link{
  text-decoration: none;
}

nav{
  display: flex;
  padding: 5px;
  justify-content: center;
  color: white;
  background: lightgray;
}

nav a{
  text-decoration: none;
  margin: 10px;
  color:gray;
}

.error{
  color:red;
  font-style:italic;
  font-weight:bold;
  background-color:rgb(199, 199, 199);
}
